.slds-modal__container {
		max-width: 378px !important;
		width: 378px !important;
		max-height:253px;
		height:253px;
		border-radius: 4px;
		padding: 24px;
		background: #FFFFFF;
		top:151px;
}
.frame-65frame{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 16px;
		gap: 16px;
		width: 330px;
		height: 80px;
		flex: none;
		order: 0;
		align-self: stretch;
		flex-grow: 0;
}
.thank-you-for-your-update{
		width: 344px;
		height: 27px;
		font-family: 'Benton Sans';
		font-style: normal;
		font-weight: 550;
		font-size: 20px;
		line-height: 27px;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: #000000;
		flex: none;
		order: 1;
		flex-grow: 0;
}
.frame-66frame{
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		padding: 8px 16px;
		gap: 16px;
		width: 330px;
		height: 66px;
		flex: none;
		order: 2;
		align-self: stretch;
		flex-grow: 0;
}
.buttons{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 20px;
		gap: 10px;

		width: 298px;
		height: 50px;

		/* PW Primary Colours/Blue Light */

		background: #0089FF;
		border-radius: 3px;

		/* Inside auto layout */

		flex: none;
		order: 0;
		flex-grow: 1;
}
.button{
		/* BUTTON */


		width: 51px;
		height: 20px;

		/* PW Desktop/Button Text */

		font-family: 'Benton Sans';
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		/* identical to box height, or 143% */

		letter-spacing: 1px;
		text-transform: uppercase;

		/* PW Text Colours/White */

		color: #FFFFFF;


		/* Inside auto layout */

		flex: none;
		order: 0;
		flex-grow: 0;
}